version: '3'
services:
  database:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_DATABASE: 'bricktube'
      MYSQL_USER: 'brickadmin'
      MYSQL_PASSWORD: 'ilikebricks'
      MYSQL_ROOT_PASSWORD: 'youlikebricks'
  
  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - 80:80
